// 公共样式
%flex-align-center {
	display: flex;
	align-items: center;
}

%text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin flex-box($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	width: 100%;
	height: 100%;
}

.active-btn {
	color: #FFFFFF !important;
	background-color: var(--active-color) !important;
	border: 1upx solid var(--active-color) !important;
}

.main-btn {
	@include flex-box();
	border-radius: 40upx;
	color: var(--main-olor);
	border: 1upx solid var(--main-color);
	padding: 10rpx 40rpx;
}

.flex{
	display: flex;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.common-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}