// 公共样式
%flex-align-center {
	display: flex;
	align-items: center;
}

%text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin flex-box($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	width: 100%;
	height: 100%;
}

.flex{
	display: flex;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.common-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}